<style inline lang="postCss">
  :fullscreen {
    color: #333;
    font-size: 28px;
  }
</style>
<style inline>
  .a {
    color: #369;
  }
  .b {
    color: #369;
  }
  .c {
    color: #369;
  }
  .c {
    color: #369;
  }
  .e {
    color: #369;
  }
  .f {
    color: #369;
  }
  .g {
    color: #369;
  }
</style>


<template>
  <% let tabList = [{'tabName' : '头条', 'tabInd' : 1},
  {'tabName' : '解读', 'tabInd' : 2},
  {'tabName' : '情报', 'tabInd' : 3},
  {'tabName' : 'NBA', 'tabInd' : 7},
  {'tabName' : '买量', 'tabInd' : 4},
  {'tabName' : '战绩', 'tabInd' : 5},
  {'tabName' : '视点', 'tabInd' : 6},
  ]; %>
  <div class="dMod">
    <div class="dViewPoint-moreList">
      <% model.list.forEach(info => { %>
      <a href="/viewpoint/<%= info.id %>.html" class="dViewPoint-moreList-item">
      <div class="dSub-info">
        <div class="dSub-info-title"><%= info.title %></div>
        <div class="dSub-info-name">
            <span><%= info.time %></span>
            <span><%= info.name %></span>
        </div>
      </div>
      <div class="dSub-pic" style="background :url(<%= info.pic %>) no-repeat 50% 50%;background-size: 100%"></div>
      </a>
      <% }) %>
    </div>
  </div>
</template>

<link href="/fs.css">
<style lang="postCss">
  .a { 
    font-size: 15px;
  }
</style>

<script>
  const a = 2;
  [1, 2, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>

<script inline>
  const b = 3;
  [1, 4, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>

<script src="/jquery.js"></script>

<script>
  const a = 2;
  [5, 6, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>